<%- model_class = Guesthouse -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
     
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @guesthouses.each do |guesthouse| %>
      <tr>
        <td><%= link_to guesthouse.id, guesthouse_path(guesthouse) %></td>
        <td><%= guesthouse.name %></td>
        <td><%= guesthouse.location %></td>
        <td><%= guesthouse.contact %></td>
       
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      guesthouse_path(guesthouse), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_guesthouse_path,
            :class => 'btn btn-primary' %>
