<%- model_class = Flight -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= link_to flight.id, flight_path(flight) %></td>
        <td><%= flight.name %></td>
        <td><%= flight.location %></td>
        <td><%= flight.contact %></td>
        <td><%= flight.email %></td>
       
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      flight_path(flight), :class => 'btn btn-default btn-xs' %>
         
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_flight_path,
            :class => 'btn btn-primary' %>
