


<div class ="row" style="background-color: Blue">
<div class ="container">
   <h1 align="center" style="color: white">Welcome from Myanmar</h1>

<p style="color: white">If you are a luxury traveller wanting to stay in and dine at the top end, government-owned hotels then you will not be travelling responsibly in Myanmar. Each to their own, but if you travel irresponsibly here then you probably should not be coming at all.

Travel in Myanmar is contributing to the wave of great change here. With locals given more rights to trade privately, it’s important that we support them rather than line the pockets of the corrupt and controlling system. While your guesthouses will not always be the cleanest or most comfortable, or your food the most delectable, remember one thing – local support is the greatest thing you can give during this exciting stage of development in Myanmar. For many, it will be time to embrace a new way of travelling.

I choose to eat and drink at local establishments and bought items from local markets and street vendors. Not only did I feel I was giving something to those who deserved it most, it was also the ideal opportunity to meet and get to know the local people, which in itself forms one of the greatest memories of travelling in Myanmar.</p>
<p style="color: white"> While a month of travelling is not possible for everyone, if you can make the most of your 28 day visa for Myanmar, do. This is not a country that be seen in a few days or a week, much like you can do the key highlights in the more easily navigable Cambodia and Vietnam. This is a huge country and travel times are long, plus it takes times to really get to grips with how things work here and understanding the people, the culture and the political climate. Spend at least two weeks here if you can – skimming this incredible landscape is an absolute waste. I’m already trying to plan spending another month here.
    </p>
    <p style="color: white"> Buses are EVERYWHERE in Myanmar and will be the main form of transport you take to get you to almost any part of the country (where tourists are permitted). Your guesthouse can help you book your ticket in advance (with a decent company) or can tell you what time to turn up at the local station in order to buy your ticket there.

    Bus journeys in Myanmar are long, sometimes averaging 10-12 hours. Night buses (which bring you to your destination around 3 or 4am) are not sleeper buses and some still play their funky local music CD’s and cheesy music videos until the early hours of the morning. Pack your iPod, invest in some heavy duty extreme ear plugs or kindly ask for what was once amusing entertainment now noise pollution to be turned off.
    </p>
    
    <p style="color: white"> Burmese people are the most genuine, friendly, warm-hearted and amazingly beautiful people I have ever met. Not one will turn you away when you need help and hardly anyone will try to short change you or be cheeky in a transaction. They are so fascinated by the presence of outsiders, that you can see the sheer excitement on their faces. Smile and say hello, shake hands, hug, exchange e-mail addresses and revel in the wonderful reaction you get back.
  </p>
 </div>
 </div>
 