<div class="row" style="background-color: black">
<div class="container">

<div class="row">
<div class="col-md-4">
<ul class="navbar-nav mx-auto">
<li class="nav-item active">
<a class="nav-link" href="#"><h3>Travel Guide </h3> <span class="sr-only">(current)</span></a>
  
</li></ul></div>


<div class="col-md-2">
<ul class="navbar-nav mx-auto">
<li class="nav-item active">
  <a class="nav-link" href="#"> <%= link_to " Home", pages_url %>  <span class="sr-only">(current)</span></a>
</li></ul></div>

<div class="col-md-2">
<ul class="navbar-nav mx-auto">
<li class="nav-item active">
  <a class="nav-link" href="#">Documentation <span class="sr-only">(current)</span></a>
</li></ul></div>




<div class="col-md-2">
<ul class="navbar-nav mx-auto">
<li class="nav-item active">
  <a class="nav-link" href="#">About us <span class="sr-only">(current)</span></a>
</li></ul></div>

<div class="col-md-2">
<ul class="navbar-nav mx-auto">
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
<div class="dropdown-menu" aria-labelledby="dropdown08">
  <a class="dropdown-item" href="#"><%= link_to " place", places_url %></a>
  <a class="dropdown-item" href="#"><%= link_to " hotel", hotels_url %></a>
  <a class="dropdown-item" href="#"><%= link_to " guesthouse", guesthouses_url %></a>
  <a class="dropdown-item" href="#"><%= link_to " resaturant", resaturants_url %></a>
  <a class="dropdown-item" href="#"><%= link_to " flight", flights_url %></a>
  <a class="dropdown-item" href="#"><%= link_to " tour", tours_url %></a>

</div>
</li></ul></div>

</div>
</div>
</div>
</div>